---
import MainLayout from "../../layouts/MainLayout.astro";
import SectionTitle from "../../components/ui/SectionTitle.astro";
import TarkamHistory from "../../components/sections/Process.astro";
import "../../styles/globals.css";
---

<MainLayout title="Our History | Tarkam" description="The story and journey of the Centre for Data-Driven Discourse">
  <main class="min-h-screen">
    <!-- Content Section -->
    <TarkamHistory />
  </main>
</MainLayout>