@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face { */
  /*   font-family: "Grotesk"; */
  /*   src: url("/fonts/grotesk/SpaceGrotesk-Regular.woff"), format("woff"); */
  /*   font-weight: normal; */
  /*   font-style: normal; */
  /*   font-display: swap; */
  /* } */

  /* @font-face { */
  /*   font-family: "Grotesk"; */
  /*   src: url("/fonts/grotesk/SpaceGrotesk-Medium.woff"), format("woff"); */
  /*   font-weight: 500; */
  /*   font-style: normal; */
  /*   font-display: swap; */
  /* } */

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanova/ProximaNovaRegular.woff"), format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Proxima Nova";
    src: url("/fonts/proximanova/ProximaNovaBold.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

 @font-face {
    font-family: "Futura";
    src: url("/fonts/futura/Futura-Book.woff"), format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Futura";
    src: url("/fonts/futura/Futura-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  :root {
      --green: #4b2165;
      --black: rgb(0, 0, 0);
      --dark: #320052;
      /*--dark: #191a23;*/
      /*--white: #f3f3f3;*/
      --white: #e9e9e9;
  }

  @layer base {
    * {
      box-sizing: border-box;
      font-family: "Proxima Nova";
      scroll-behavior: smooth;
    }

    body {
      font-size: 16px;
    }

    p {
      font-size: 1rem;
    }

    h1 {
      font-size: 3rem;
      line-height: 120%;
      font-weight: 500;
    }

    h2 {
      font-size: 2rem;
      font-weight: 500;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }

    @media (max-width: 640px) {
      body {
        font-size: 16px;
      }

      p {
        font-size: 1rem;
      }

      h1 {
        font-size: 2.688rem;
      }

      h2 {
        font-size: 2.25rem;
      }

      h3 {
        font-size: 1.625rem;
      }

      h4 {
        font-size: 1.125rem;
      }
    }

      ul {
          list-style-type: disc;
          padding-left: 1.5rem;
          margin: 1rem 0;
      }

      li {
          font-size: 1rem;
          line-height: 1.6;
          margin-bottom: 0.5rem;
      }

      @media (max-width: 640px) {
          ul {
              padding-left: 1.25rem;
          }

          li {
              font-size: 1rem;
              line-height: 1.5;
          }
      }
  }

  @layer components {
    .btn-primary {
      @apply bg-dark text-white rounded-lg px-[35px] py-5 transition-all duration-200;
    }
    .btn-primary:hover {
      @apply bg-green text-white transform scale-105;
    }

    .btn-secondary {
      @apply bg-transparent text-black px-[35px] py-5 rounded-lg border border-solid border-black transition-all duration-200;
    }
    .btn-secondary:hover {
      @apply bg-black text-white bg-green transform scale-105;
    }

    .btn-tertiary {
      @apply bg-green text-white rounded-lg px-[35px] py-5 transition-all duration-200;
    }
    .btn-tertiary:hover {
      @apply bg-white text-black transform scale-105;
    }

    .greenhead {
      @apply bg-green text-white rounded-[7px] px-[7px];
    }

    .whitehead {
      @apply bg-white text-black rounded-[7px] px-[7px];
    }

    .blackhead {
      @apply bg-black text-white rounded-[7px] px-[7px];
    }
    /* Link styles - text color only */
  .link {
    @apply text-dark hover:text-green underline decoration-1 underline-offset-4
           transition-colors duration-200 font-medium;
  }

  .link-white {
    @apply text-white hover:text-green underline decoration-1 underline-offset-4
           transition-colors duration-200 font-medium;
  }

  .link-black {
    @apply text-black hover:text-green underline decoration-1 underline-offset-4
           transition-colors duration-200 font-medium;
  }

  .link-subtle {
    @apply text-green hover:text-dark underline decoration-1 underline-offset-2
           transition-colors duration-200;
  }

  /* Navigation link */
  .nav-link {
    @apply text-white hover:text-green no-underline hover:underline
           transition-colors duration-200 font-medium;
  }
  }
}

/* Ensure navigation menu text is always white */
nav button,
nav a {
  color: white !important;
}

nav button:hover,
nav a:hover {
  color: white !important;
}
