---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "Icons from The Noun Project under a CC BY 3.0 License are by Nanang A Pratama, Emilegraphics, ProSymbols, Eucalyp, M. Zildan Shidqi Habibi, BSD Studio, Andika Cahya Fitriani, Eucalyp, Eyun, Ircham. The logo is generated with code by Danielle Navarro, https://art.djnavarro.net (Licensed under CC-BY-SA-4.0), the image represents similarity scores for most cited papers with the phrase data driven discourse. The theme for this website is designed by Olga Skuja, https://www.olgaskuja.design/.";
---

<Section id="colophon">
  <div class="mt-[20px]">
    <SectionTitle
      sectionTitle="Colophon"
      description={description}
    />
  </div>
</Section>
