---
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/About_Tarkam.svg";
import Section from "./Section.astro";
---

<Section id="home">
  <div
    class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[85px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
      <h1>Centre for Data-Driven Discourse</h1>
    </div>
    <picture class="row-span-1 md:row-span-3">
      <Image src={HeroIlust} alt="Hero Ilustration" width={672} height={589} format="webp" loading="eager" decoding="async" fetchpriority="high" class="w-full"/>
    </picture>
    <div class="w-full lg:w-[100%]">
      <p class="my-[35px]">
      What if we had a space that was dedicated to the needs and challenges of civil society when it comes to data? What if we had a space where civil society organisations could get together, deliberate, and sharpen their understanding of data to build a more thoughtful data-driven discourse? What we need then, is both hard and soft infrastructure to improve data-driven discourse in civil society. We imagine Tarkam to be that space to build new possibilities with and around data as a public good.
      </p>
      <p class="my-[35px]">
      Tarkam, on the one hand, means logic, reasoning, speculation, and inquiry. It is the process of arguing and drawing inferences, and as with such a process, it is also about dealing with ambiguity and uncertainty. Thus, Tarkam is also used to indicate contradictions, and as we see the Centre as a space for both logical reasoning and dealing with uncertainties, the name speaks to our intent and imagination.
      </p>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>
