---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "We wish to acknowledge and place in record the history of how the idea of Tarkam came to be and thank those who helped shape it thus far. The idea for Tarkam as a federated database was born in Fields of View in 2019 as a response to a call for initiatives for 'Data for Justice'. The idea found a new lease of life when Rishabh Verma from Rainmatter Foundation approached Fields of View in 2022 to join an initiative to build a Knowledge Commons, and Fields of View proposed the Public Library of Data as a way to bring together data of, by, and for CSOs. The initial ideas were captured in a note prepared by Fields of View in August 2022. The rst meeting around the Public Library of Data was anchored at Fields of View on October 6, 2022, with CSEI at Atree, FES, and Rainmatter Foundation to explore possibilities. During themeeting, organised and designed by Fields of View, a blueprint for the idea and governance was discussed. In 2024, after further discussions with differentvadvisors and mentors, the idea of Tarkam took shape.";
---

<Section id="history">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="History"
      description={description}
    />
  </div>
</Section>
