---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/globals.css";
import DataStoriesIMG from "../assets/pics/Data_Stories.svg"
import Section from "../components/sections/Section.astro";
---

<MainLayout title="Building Data Stories| Tarkam" description="Deepening Data Narratives">
<main class="min-h-screen">
    <!-- Hero Section -->
    <section class="py-20 px-4">
      <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-5xl font-bold mb-4">Building Stories</h1>
        <p class="text-xl text-gray-600">
         Creating data-driven stories that appeal to a larger audience
        </p>
      </div>
    </section>
<Section id="home">
  <div
    class="grid grid-cols-1 grid-template md:grid-cols-2 md:grid-rows-1 mt-[10px]"
  >
    <div class="flex flex-col w-full lg:w-[66.5%]">
    </div>
        <picture class="row-span-1 md:row-span-3">
          <Image src={DataStoriesIMG} alt="Data Stories at Tarkam" width={672} height={589} format="webp" loading="eager" decoding="async" fetchpriority="high" class="w-full" />
        </picture>
    <div class="w-full lg:w-[66.5%]">
      <p class="my-[35px]">
      In order to illustrate how data-driven stories can be told in ways that speak socio-political-economic realities, and to spark the imagination of organisations on what can be potentially done with data, Tarkam will build templates of data-driven stories. These templates will showcase how data can be visualised for better accessibility and understanding. The bank of exemplars will become the base for a story-builder tool which individuals, organisations, and applications built for civil society needs can use to create data-driven stories. In addition, Tarkam will build a bank of guides, and other resources for data-driven storytelling.
      </p>
    </div>
  </div>
</Section>
<style>
  .grid-template {
    grid-template-rows: auto 1fr;
  }
</style>
</main>
</MainLayout>
